@charset "UTF-8";

html {
    background: rgba(255,255,255,0.1);
}
body {
    color: #596066;
    font-family:"Open Sans";
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
a {
    color: #fbe949;
}
a:hover {
    color: #d4bf04;
}
#lminion {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}
#rminion {
    position: absolute;
    right: 0;
    bottom: 0;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    height: 290px;
}
.header h1 {
    margin: 0 0 0 440px;
    padding: 16px 140px 17px 0;
    background: #596066;
    color: #d0d6dc;
    text-align: right;
    font-weight: 600;
}

button.btn {
    position: relative;
    float: right;
    margin: 108px auto;
    width: 100%;
    height: 54px;
    border: #d0d6dc solid 2px;
    color: #596066;
}
button.btn:hover, button.btn:focus {
    outline: none;
    border: rgb(158,164,170) solid 2px;
}

button:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 100%;
    text-align: left;
}
footer h4 {
    margin: 0 410px 0 0;
    padding: 42px 40px 11px 40px;
    background: #596066;
    color: #d0d6dc;
    font-weight: 600;
}
footer small {
    color: #d0d6dc;;
}
.tut {
    margin: 0 10px;
    font-size: 4em;
}
.try {
    margin: 0 auto;
    width: 80%;
}
.try h3 {
    padding: 10px 4px;
    font-weight: 400;
}
.nixfocus {
    padding: 16px;
    width: 100%;
    border: #d0d6dc solid 4px;
    border-radius: 10px;
    font-weight: lighter;
    font-size: 24px;
}
#output {
    position: relative;
    top: -180px;
}
#mt-button {
    top: -90px;
}
.nixfocus:focus {
    outline: none;
}
*::selection {
    background: #e8e8e8;
}
*::-webkit-selection {
    background: #e8e8e8;
}
hr {
    display: none;
}
#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

@media screen and (max-width: 992px) {
    #canvas {
        display: none;
    }
    .buttonwrap {
        width: 105%;
    }
    button.btn {
        margin: 0;
        margin-top: -15px;
        padding: 0;
        width: 105%;
        height: 76px;
        border: none;
        border-radius: 0;
        font-size: 2em;
    }
    button.btn:hover,button.btn:focus {
        outline:none;
        border: none;
        background: #fbe949;
        color: #596066;
    }
    hr {
        display: block;
        margin: 60px 0 15px 0;
        border-top: 3px dashed #fbe949;
    }
    hr.below {
        margin: 60px 0 30px 0;
    }
    .tut {
        text-align: center;
    }
    #fork {
        width: 100px;
        height: 100px;
    }
    footer {
        position: relative;
        bottom: 0;
        left: 0;
        margin: 30px 0 0 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    #output {
        top: 0;
        margin-bottom: 40px;
    }
    #mt-button {
        top: 0;
    }
    footer h4 {
        margin: 0;
        padding-top: 14px;
    }
    .header {
        height: 140px;
    }
    .header h1 {
        margin: 0;
        padding: 14px;
        text-align: center;
    }
    .tut {
        font-size: 1.8em;
    }
    .jumbotron {
        top: -100px;
        width: 400px;
        height: 200px;
    }
    .jumbotron h1 {
        padding-top: 56px;
    }
    .nixfocus {
        font-size: 18px;
    }
    #lminion, #rminion {
        display: none;
    }
}
